.icon-box-short {
    margin-bottom: 15px;
}

.become-volunteer {
    background: #F2F3F5;
    padding: 20px;
}

.heading-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-black, .btn-black:focus, .btn-black:visited {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    padding: 7px 15px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    background: #302f2c;
}

.icon-img{
  margin-top:7%;
}