<div class="container" ng-controller="AboutController">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="assets/img/HopeBanner.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h2 class="text-center">About</h2>
      <p> Helping Out Public Effectively (HOPE) is an organisation founded by youth in August 2015.</p>

      <h2 class="text-center">Our Objectives </h2>
          <ul>
            <li>To provide educational support to the poor students</li>
            <li>To render assistance to the orphans for their livelihood</li>
            <li>To provide medical support to the poor needy people</li>
            <li>To educate and motive people to keep their neighbourhood clean and to contribute for Clean India.</li>
          </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="m80">
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <!--Education to child-->
          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-graduation-cap m10"></i></div>
                <div class="col-md-9">
                  <h2>Education</h2>
                  <p>"HOPE believes that Education is the effective weapon to fight poverty and truly empower the children".
                    HOPE provides the poor students their basic needs like Bags, Books, Pens, Pencils, Instrument boxes and
                    other basic infrastructure to carry forward their education effectively. Exposing the rural students
                    to the technology, ongoing events around world and helping them to catch to the speed of urban students
                    by its TEACHING initiative..</p>
                </div>
              </div>
            </div>
          </div>
          <!--Medical Help-->

          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-user-md m10"></i></div>
                <div class="col-md-9">
                  <h2>Health</h2>
                  <p>"HOPE believes that there is direct link between poverty and ill health." HOPE took initiative in this
                    matter and provides the health services to the people staying in Rural Areas by organizing Health Camps.
                    The uniqueness of our health camps is that it will be arranged in villages where health services are
                    not available easily. We conduct free checkups for the needy people and prescribe the proper treatment
                    and provide the free medicines to them.</p>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="row">
          <!--Swatch Bharath-->
          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-recycle m10"></i></div>
                <div class="col-md-9">
                  <h2>Swachh Bharath</h2>
                  <p>“HOPE believes that Cleanliness is next to godliness.” HOPE took initiative in contributing to the PM Modi’s
                    Swachh Bharath Mission Program by installing the dustbins across the Kolar Town.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Save Environment-->
          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-tree m10"></i></div>
                <div class="col-md-9">
                  <h2>Save the Environment</h2>
                  <p>"HOPE believes that a healthy environment creates a healthy life." HOPE took initiative in this regard
                    by doing plantations in schools, orphanages we visit. HOPE organized the installation of feeders (food
                    and water) for birds across the Kolar Town.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--Save the child-->
          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-child m10"></i></div>
                <div class="col-md-9">
                  <h2>Rural Transformation</h2>
                  <p> "HOPE believes that the future of India lies in villages." India will be developed only if its rural areas
                    are developed. HOPE focuses on enriching the lives of rural people by providing them the basic facilities
                    such as education, health etc.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Nurture the Old-->
          <div class="col-md-6">
            <div class="icon-box-short">
              <div class="row">
                <div class="col-md-3 text-center icon-img"><i class="fa fa-3x fa-bed m10"></i></div>
                <div class="col-md-9">
                  <h2>Nurture the Old</h2>
                  <p>“HOPE believes in keeping our elders happy, so that their blessings will be with us till our last breath."
                    HOPE focuses on to improve the quality of life of destitute elders primarily staying in various old age
                    homes by providing them rations, Medicines and consultations to them.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-4">
                <img class="alignnone size-full wp-image-117 img-responsive" src="../img/ourTeam.jpg" alt="img16">
                <div class="become-volunteer">
                    <h3 class="heading-title">Become Volunteers</h3>
                    <p>Become volunteers of HOPE and bring a change in the world we are living.</p>
                    <a href="#" class="btn btn-black"> Join with us </a>
                </div>
            </div>-->
    </div>
  </div>
</div>
