<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<a class="navbar-brand" href="#/"><img src="assets/img/HopelogoTrans.png"></a>
</div>
    <span class='navTitle'>Helping Out Public Effectively</span>
    <div id="navbar" [ngClass]="{ 'in': isIn }" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
        </li>
        <li>
          <a [routerLink]="['/about']"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
        </li>
        <li>
          <a [routerLink]="['/gallery']"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Gallery</a>
        </li>
        <li>
          <a [routerLink]="['/contact']"> <span class="fa fa-envelope-o" aria-hidden="true"></span> Contact</a>
        </li>
        <li>
          <a [routerLink]="['/contribute']"> <span class="fa fa-money" aria-hidden="true"></span> Contribute</a>
        </li>
      </ul>
    </div>
  </div>
</nav>