
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
  border-color:#303f9f;
  .navbar-nav>li>a {
    color: #e5e5e5;
    &:hover {
      color: white;
    }
  }
}

.navTitle{
  font-size: x-large;
}