<div view-title="Event">
    <div class="myEvent">
        <div class="formspacer"> </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{currentEvent.name}}
                <small>{{currentEvent.date}}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a [routerLink]="['/home']">Home</a>
                </li>
                <li><a [routerLink]="['/gallery']">Gallery</a>
                </li>
                <li class="active">Event</li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <carousel id="EventCarousel">
                <slide>
                    <img src="{{currentEvent.photos.photoOne}}" alt="First slide">
                </slide>
                <slide>
                    <img src="{{currentEvent.photos.photoTwo}}" alt="Second slide">
                </slide>
                <slide>
                    <img src="{{currentEvent.photos.photoThree}}" alt="Third slide">
                </slide>
            </carousel>
        </div>
        <div class="col-md-4">
            <h2>Event Description</h2>
            <p>{{currentEvent.quote}}</p>
            <h2 ng-show='currentEvent.contributed || currentEvent.inspired'>Event Details</h2>
        <div ng-show='event.contributed'>
            <h3>Contribution</h3>
            <h5>{{currentEvent.contributed}}</h5>
        </div>
        <div ng-show='event.inspired'>
            <h3>Inspired</h3>
            <h5>{{currentEvent.inspired}}</h5>
        </div>
        </div>
    </div>
    <hr>
</div>
<!-- /.container -->