<hope-navbar></hope-navbar>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="row-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Helping Out Public Effectively</h2>
        <ul>
          <!--<li>{{contactUs.address}}</li>
                    <li><i class="fa fa-phone-square"></i>&nbsp; {{contactUs.mobilePrimary}}</li>
                    <li><i class="fa fa-phone-square"></i>&nbsp;{{contactUs.mobileSecondary}}</li>
                    <li><i class="fa fa-envelope"></i>&nbsp;{{contactUs.email}}</li>-->
        </ul>
      </div>
      <div class="col-md-3">
        <h2> Links</h2>
        <div class="menu-footer-container">
          <ul class="list-unstyled">
            <li><a class="glyphicon glyphicon-arrow-right" ui-sref="app">&nbsp;Home </a></li>
            <li><a class="glyphicon glyphicon-arrow-right" ui-sref="app.aboutus">&nbsp;About</a></li>
            <li><a class="glyphicon glyphicon-arrow-right" ui-sref="app.contactus">&nbsp;Contact</a></li>
            <li><a class="glyphicon glyphicon-arrow-right" ui-sref="app.gallery">&nbsp;Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="nav navbar-nav" style="padding: 40px 10px;">
          <!--<a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i
                            class="fa fa-google-plus"></i></a>-->
          <!--<a class="btn  btn-social-icon btn-facebook" href="{{resources.contactUs.facebook}}" target="_blank"><i
                            class="fa fa-facebook"></i></a>-->
          <!--<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin"></i></a>-->
          <!--<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>-->
          <!--<a class="btn btn-social-icon btn-youtube" href="{{contactUs.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:hope4socialservice@gmail.com"><i class="fa fa-envelope-o"></i></a>-->
        </div>
      </div>
    </div>
  </div>
</footer>