

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}

footer > div > div > div:nth-child(1) > ul  li{
      list-style: none;
}
footer .menu-footer-container ul > li a{
    color:black;
    font-size:17px;
}
