body {
  text-align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'Dosis', sans-serif;
}

.navTitle{
  font-size: x-large;
}

.btn-primary{
    background-color: #303f9f;
    border-color: #303f9f;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
/*Home starts*/

.panel-content{
  height:100px;
}

/*Home Ends*/

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 75vh;
   
}
.carousel .item img {
     max-width: 100%;
    width: 100%;
  left: 0;
  height: 75vh;
  position: absolute;
  top: 0;
}

.vcenter {
    position: absolute;
    height:200px;
    width:30%;
    top:50%;
    bottom:50%;
    margin-top: -5px; 
    margin-bottom: -5px;
    left:10%;
}
/*.v-center {
    position: absolute;
    height:100px;
  width:40%;
    top:50%;
    bottom:50%;
    margin-top: -10px; 
    margin-bottom: -50px;
    left:15%;
} */   
.borders {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #0c40d4;
    background-color: rgba(44, 82, 220, 0.4);
}
.bg-select {
    background-color: rgba(00,00,255,0.5);
}


.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
  border-color:#303f9f;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}

address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}

body > div:nth-child(2) > div.container.ng-scope > div div.panel-heading{
    color: #e5e5e5;
    background-color: #303f9f;
    border-color: #303f9f;
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

#hopeHeader{
  text-align:center;
}
/*Contribute Start*/

.navbar-inverse .navbar-nav>li>a {
    color: #e5e5e5;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

.pattern2 {
    padding-bottom: 80px;
    padding-top: 80px;
    background-image: url(./assets/img/donateBackground.png);
    width:100vw !important;
}

.pattern2 p, .pattern2 h1, .pattern2 h2, .pattern2 h3 {
    color: #f5f5f5;
}

.heading-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Dosis', sans-serif;
}

/*a, a:focus, a:visited {
    color: #302f2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    outline: 0;
    text-decoration: none;
}

a:visited {
    color: purple;
}*/
.btn-orange, .comment-form .submit {
    color: #FFFFFF !important;
}

.btn-orange, .btn-orange:focus, .btn-orange:visited, .comment-form .submit {
    padding: 8px 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    background: #303f9f;
    /*#F9650E*/
}
.thumbnail {
    height: 400px;
    cursor: pointer;
}
.thumbnail img {
     height: 80%;
    width: 100%;
    max-width: 100%;
    max-height: 85%;
}

body > div:nth-child(2) > div > div:nth-child(2) > div > div > h3 > div{
    text-align: center;
}

/*body > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div > h3 > div{
  text-align:center;
}*/

.img-hover  {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
}

.qrcode {
    height: 150px;
    cursor: pointer;
}

.accountdetails{
  line-height: 2;
}

.payHeader{
  /*text-align: center;*/
}
/*Contribute End*/

/*contact us start*/
address{
  line-height:2;
}
#feedback{
  background-color: #F2F3F5;
}
textarea#feedback{
  background-color: white;
}
/*contact us ends*/

/*About start*/
.icon-box-short {
    margin-bottom: 15px;
}

.become-volunteer {
    background: #F2F3F5;
    padding: 20px;
}

.heading-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-black, .btn-black:focus, .btn-black:visited {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    padding: 7px 15px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    background: #302f2c;
}

.icon-img{
  margin-top:7%;
}
/*About ends*/

/*Footer Start*/

footer > div > div > div:nth-child(1) > ul  li{
      list-style: none;
}
footer > div > div > div.col-md-3 > div > ul > li a{
/*.footer .help .list-style li:before {*/
    color:black;
    font-size:17px;
}

/*footer End*/

 /* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
  body{
    font-size:12px;
  }
  .carousel .item {
    height: 60vh; 
  }
  .carousel .item img {
    height: 60vh;
  }
  .thumbnail{
    height: 300px;
  }
  h3{
    font-size:20px;
  }
  .panel-content{
  height:50px;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  {

 }
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  body{
    font-size:14px;
  }
  .thumbnail img {
    height: 75%;
  }
  
}
 /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  {
  body{
    font-size:14px;
  }
  .panel-content{
    height:100px;
  }
}
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
  body{
    font-size:16px;
  }
}
 /* hi-res laptops and desktops */ 
@media (min-width:1281px) {
  body{
    font-size:18px;
  }
}
