$primaryColor: #303f9f;

body {
  // text-align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'Dosis', sans-serif;
}

.btn-primary{
    background-color: $primaryColor;
    border-color: $primaryColor;
}

/*Home starts*/


/*Home Ends*/

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}

.vcenter {
    position: absolute;
    height:200px;
    width:30%;
    top:50%;
    bottom:50%;
    margin-top: -5px; 
    margin-bottom: -5px;
    left:10%;
}
/*.v-center {
    position: absolute;
    height:100px;
  width:40%;
    top:50%;
    bottom:50%;
    margin-top: -10px; 
    margin-bottom: -50px;
    left:15%;
} */   
.borders {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #0c40d4;
    background-color: rgba(44, 82, 220, 0.4);
}
.bg-select {
    background-color: rgba(00,00,255,0.5);
}

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}



.heading-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Dosis', sans-serif;
}

/*a, a:focus, a:visited {
    color: #302f2c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    outline: 0;
    text-decoration: none;
}

a:visited {
    color: purple;
}*/

.thumbnail {
    height: 400px;
    cursor: pointer;
}
.thumbnail img {
     height: 80%;
    width: 100%;
    max-width: 100%;
    max-height: 85%;
}

body > div:nth-child(2) > div > div:nth-child(2) > div > div > h3 > div{
    text-align: center;
}

/*body > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div > h3 > div{
  text-align:center;
}*/

.img-hover  {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
}

.qrcode {
    height: 150px;
    cursor: pointer;
}

.accountdetails{
  line-height: 2;
}

/*Contribute End*/

/*contact us start*/

#feedback{
  background-color: #F2F3F5;
}
textarea#feedback{
  background-color: white;
}
/*contact us ends*/


 /* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
  body{
    font-size:12px;
  }
  .carousel .item {
    height: 60vh; 
  }
  .carousel .item img {
    height: 60vh;
  }
  .thumbnail{
    height: 300px;
  }
  h3{
    font-size:20px;
  }
  .panel-content{
  height:50px;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  {

 }
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  body{
    font-size:14px;
  }
  .thumbnail img {
    height: 75%;
  }
  
}
 /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  {
  body{
    font-size:14px;
  }
  .panel-content{
    height:100px;
  }
}
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
  body{
    font-size:16px;
  }
}
 /* hi-res laptops and desktops */ 
@media (min-width:1281px) {
  body{
    font-size:18px;
  }
}