<section>
    <carousel>
        <slide>
            <img src="assets/img/homePage1.jpg" alt="First slide">
        </slide>
        <slide>
            <img src="assets/img/homePage2.jpg" alt="Second slide">
        </slide>
        <slide>
            <img src="assets/img/homePage3.jpg" alt="Third slide">
        </slide>
    </carousel>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id='hopeHeader'>
                    Helping Out Public Effectively - H.O.P.E
                </h1>
            </div>
            <hr>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-file-text"></i>Our Vision</h4>
                    </div>
                    <div class="panel-body">
                        <p class="panel-content">One Cannot help everyone, but everyone can help someone.</p>
                        <a ui-sref="app.aboutus" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-bell"></i>Our Mission</h4>
                    </div>
                    <div class="panel-body">
                        <p class="panel-content">The Mission of the organisation is the service to the humanity and to save our planet. To work towards
                            Better, Clean, Healthy and Educated India.</p>
                        <a ui-sref="app.aboutus" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-life-ring"></i>Help and Support</h4>
                    </div>
                    <div class="panel-body">
                        <p class="panel-content">Hope works for govt. school children by providing them their needs, livelihood of people staying
                            at various orphanages, health services in the rural areas. </p>
                        <a ui-sref="app.contactus" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="container pattern2">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center">
                <h1 class="heading-title">Donate little amount that help needy people</h1>
                <p class="lead">Our job on earth is not to criticize, reject, or judge. Our purpose is to offer a helping hand, compassion,
                    and mercy. We are to do unto others as we hope they would do unto us.</p>
                <a ui-sref="app.contactus" class="btn btn-primary"> Contribute Now </a>
            </div>
        </div>
    </div>
</section>